<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="QuoteDBEntities" connectionString="metadata=res://*/Models.QuoteModel.csdl|res://*/Models.QuoteModel.ssdl|res://*/Models.QuoteModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\mssqllocaldb;initial catalog=QuoteDB;integrated security=True;pooling=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>